@{
    ViewBag.Title = "UseModel";
    Layout = null;
}
<h4>THÔNG TIN SINH VIÊN</h4>
<form name="P1" action="/SinhVien_61131562/Register2" method="post">
    <div>
        Mã số sinh viên: <input type="text" name="Id" /> <br />
        Họ và tên:       <input type="text" name="Name" /> <br />
        Điểm:            <input type="text" name="Marks" />
    </div>

    <div><input type="submit" value="Đăng kí" /></div>
</form>