
@{
    ViewBag.Title = "GioiThieu_61131562";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>ĐẶC TẢ PHẦN MỀM</h4>
<div style="margin-left:20px;font-size:16px;">
    <p>
        Để quản lý lý sinh viên trong hệ thống, em xây dựng website theo các yêu cầu gợi ý sau:
    </p>
    <ol type="a">
        <li>
            Thiết kế CSDL có tên QLSV gồm 3 bảng dữ liệu sau:
            <br />
            Lớp (<b><u>Mã lớp</u></b>, Tên lớp)
            <br />
            Ngành học (<b><u>Mã ngành</u></b>, Tên ngành)
            <br />
            Sinh viên (
            <b><u>Mã SV</b></u>, Họ SV, Tên SV, Giới tính,  Ngày sinh, Ảnh SV, Địa chỉ, Họ tên cha mẹ, Nghề nghiệp cha mẹ, Email, Số điện thoại,
            <uu style="border-bottom: 1px dashed">Mã lớp</uu>,
            <uu style="border-bottom: 1px dashed">Mã ngành</uu>)
        </li>


        <li> Tạo Entity Data Model (EDM) cho CSDL trên.</li>

        <li> Xây dựng các chức năng cho phép người quản trị quản lý các thông tin: Lớp, Ngành học, Sinh viên (thêm, sửa, xóa và hiện thị danh sách).</li>

        <li> Tìm kiếm thông tin liên quan đến sinh viên: Mã sinh viên, họ tên, giới tính, địa chỉ, lớp.</li>
    </ol>
</div>

