
@{
    ViewBag.Title = "GioiThieu_61131562";
}

<h2>THÔNG TIN SINH VIÊN DỰ THI</h2>
Mã số SV:....[Mã số SV dự thi]
<br />
Họ và tên:....[Họ và tên SV dự thi]
<br />
Ngày thi: 24/06/2021
<br />
Học phần: Phát triển ứng dụng web



