
@{
    ViewBag.Title = "GioiThieu_61131562";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>
Mã sinh viên: 61131562 <br />
Họ tên: Phan Nguyễn Đình Vũ <br />
Lớp: 61CNTT-CLC <br />
Ngày kiểm tra: 01/01/2022 <br />

